.TextEditor {
  height: 100%;
}

.Editor {
  height: 100%;
  /* --ck-spacing-standard: 15px;
  --ck-border-radius: 9px;
  --ck-color-base-active: hsla(0, 0%, 0%, 0);
  --ck-color-shadow-inner: hsla(0, 0%, 0%, 0); */
}

.Textbox {
  height: 100%;
  /* border-radius: 10px;
  background-color: white;
  border: 1px solid black; */
}

.ck.ck-editor__editable {
  height: 100%;
}